@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mh1 {
    @apply text-2xl md:text-3xl font-bold text-zinc-900 dark:text-slate-100
  }
  .option-badge > .remove-btn {
    @apply text-xl;
    color: rgba(119, 119, 119, 1);
  }
  .option-badge {
    @apply bg-none rounded border-solid border cursor-pointer flex items-center px-1 py-px gap-1;
    border-color: rgba(119, 119, 119, 1);
    outline: none;
  }
  .options {
    @apply bg-white rounded border-solid border hidden m-0 overflow-y-auto p-0 absolute left-0 w-full;
    list-style: none;
    max-height: 15em;
    border-color: rgba(119, 119, 119, 1);
    top: calc(100% + 0.25em);
    z-index: 100;
  }
  .divider {
    @apply self-stretch w-px;
    background-color: rgba(119, 119, 119, 1);
  }
  .clear-btn {
    @apply bg-none cursor-pointer text-xl p-0;
    color: rgba(119, 119, 119, 1);
    outline: none;
  }
  .containers {
    @apply rounded border-solid border flex items-center p-2 relative gap-2;
    width: 320px;
    min-height: 1.5em;
    border-color: rgba(119, 119, 119, 1);
    outline: none;
  }

  .nav-ul {
    @apply mb-1 flex w-full items-center justify-around;
  }
  .nav-li {
    @apply flex flex-col-reverse items-center;
  }
  .form-primary {
    @apply w-full text-xl font-semibold;
  }

  .form-field-primary {
    @apply mb-6 w-full resize rounded-xl border-2 border-black p-2 shadow-sm focus:border-slate-700 focus:outline-none focus:ring-1 dark:border-white dark:bg-slate-400;
  }

  .btn-primary {
    @apply flex flex-row items-end justify-items-center rounded-xl bg-green-400 px-3 py-2 font-semibold transition duration-300 ease-in-out hover:-translate-y-1 hover:bg-yellow-400;
  }
  .btn {
    @apply absolute bottom-5 right-5 rounded bg-slate-200 px-3 py-2 text-center text-xs transition hover:bg-slate-300 dark:bg-slate-700 dark:hover:bg-slate-600;
  }
  .form-validation-error {
    @apply m-0 mt-1 bg-red-500 text-xs;
  }
  .error-container {
    @apply rounded-md border-black bg-purple-50 p-2;
  }
}
